<div class="layuimini-main" xmlns:th="http://www.thymeleaf.org">
    <form id="detail-form" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label">用户id</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="hunterId" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户姓名</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="huntername" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户微信昵称</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="hunterwxname" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系号码</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="hunterphone" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="hunterage" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">性别</label>
                <div class="layui-input-block">
                    <input type="radio" readonly="readonly"  name="hunterSex" value="男" title="男">
                    <input type="radio" readonly="readonly"  name="hunterSex" value="女" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">民族</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="hunternation" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属学院</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="hunterschool" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属专业</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="huntermajor" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">在校职位</label>
                <div class="layui-input-block">
                    <textarea name="huntereduduty" readonly="readonly" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">在校奖励</label>
                <div class="layui-input-block">
                    <textarea name="huntereduward" readonly="readonly" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">自我评价</label>
                <div class="layui-input-block">
                    <textarea name="hunterevaluation" readonly="readonly" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">注册日期</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="huntercreateTime" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">更新时间</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="hunterupdateTime" value="" class="layui-input">
                </div>
            </div>
    </form>
</div>
