<div class="layuimini-main" xmlns:th="http://www.thymeleaf.org">
    <form id="detail-form" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label">用户id</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="hunterId" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户姓名</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="name" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户应聘公司</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="businessname" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户应聘岗位</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobName" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注信息</label>
                <div class="layui-input-block">
                    <textarea name="evaluation" readonly="readonly" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户邮箱</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="email" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否举报</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="isassrest" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">反馈时间</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="createTime" value="" class="layui-input">
                </div>
            </div>
    </form>
</div>
