<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="realName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">企业名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="businessName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">举报状态</label>
                            <div class="layui-input-inline">
                                <select name="isassrest" id="stateSelect">
                                    <option value="">请选择</option>
                                    <option value="0">已举报</option>
                                    <option value="1">已推荐</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">开始日期</label>
                            <div class="layui-input-inline">
                                <input type="text" id="startDate" name="startDate" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">结束日期</label>
                            <div class="layui-input-inline">
                                <input type="text" id="endDate" name="endDate" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除反馈信息 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="detail">详情</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>


<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#startDate'
            ,format: 'yyyy-MM-dd'
        });
        laydate.render({
            elem: '#endDate'
            ,format: 'yyyy-MM-dd'
        });
    });
</script>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        form.render('select');

        form.render();

        var param = "null,null,null,null,null,null";
        table.render({
            elem: '#currentTableId',
            url: 'http://localhost:8082/tbFeedback/getLayuiPageWithTime',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            where: {searchParams: param.toString()},
            cols: [
                [
                {type: "checkbox", width: 50, fixed: "left"},
                {field: 'feedbackId', width: 80, title: 'id', sort: true,align:'center'},
                {field: 'name', width: 110, title: '名称', sort: true,align:'center'},
                {field: 'businessName', width: 110, title: '公司名称', sort: true},
                {field: 'jobName', width: 110, title: '岗位名称', sort: true},
                {field: 'evaluation', width: 250,title: '反馈内容'},
                {field: 'isassrest', width: 150, title: '是否举报', templet: function (res) {
                        switch (res.isassrest) {
                            case 1: return "已举报";
                            case 0: return "已推荐";
                            default: return "";
                        }},sort: true,align:'center'},
                {field: 'createTime', width: 200, title: '反馈时间', templet: '<div>{{layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'},
                {title: '操作', minWidth: 150, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });




        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var realName = (data.field.realName=='') ? "null": data.field.realName;
            var businessName = (data.field.businessName=='') ? "null": data.field.businessName;
            var jobName="null";
            var isassrest = (data.field.isassrest=='') ? "null": data.field.isassrest;
            var startDate = (data.field.startDate=='') ? "null": data.field.startDate;
            var endDate = (data.field.endDate=='') ? "null": data.field.endDate;
            var result = realName+","+businessName+","+jobName+","+isassrest+","+startDate+","+endDate;
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar事件监听
         */
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;

            if (obj.event === 'detail') {  // 监听详情操作
                console.log(data)
             var content = miniPage.getHrefContent('feedbackDetail');
             var openWH = miniPage.getOpenWidthHeight();

             var index = layer.open({
                 title: '详情页面',
                 type: 1,
                 shade: 0.2,
                 maxmin:true,
                 shadeClose: true,
                 area: [openWH[0] + 'px', openWH[1] + 'px'],
                 offset: [openWH[2] + 'px', openWH[3] + 'px'],
                 content: content,
                 success: function (layero, index) {
                     $(".layui-form input[name='hunterId']").val(obj.data.hunterId);
                     $(".layui-form input[name='name']").val(obj.data.name);
                     $(".layui-form input[name='businessname']").val(obj.data.businessName);
                     $(".layui-form input[name='jobName']").val(obj.data.jobName);
                     $(".layui-form textarea[name='evaluation']").val(obj.data.evaluation);
                     $(".layui-form input[name='email']").val(obj.data.email);

                     let state = "";
                     switch (obj.data.isassrest) {
                         case 0: state = "已举报";break;
                         case 1: state = "已推荐";break;
                         default: break;
                     }
                     $(".layui-form input[name='isassrest']").val(state);
                     $(".layui-form input[name='createTime']").val(layui.util.toDateString(obj.data.createTime,"yyyy-MM-dd HH:mm:ss"));

                     form.render();
                 },
             });
             $(window).on("resize", function () {
                 layer.full(index);
             });
             return false;
             }else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    $.post({
                        url: "tbFeedback/delete",
                        data: {
                            'id': data.feedbackId
                        },
                        success: function (res) {
                            if (res){
                                obj.del();
                            }else{
                                layer.alert("删除失败！！！");
                            }
                            layer.close(index);
                        }
                    });
                });
            }
          });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

    });
</script>