<style>
    .layui-form-item .layui-input-company {
        width: auto;
        padding-right: 10px;
        line-height: 38px;
    }
</style>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <form>
            <div class="layui-form layuimini-form">
                <div class="layui-form-item">
                    <label class="layui-form-label required">旧的密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="old_password" lay-verify="required" lay-reqtext="旧的密码不能为空" placeholder="请输入旧的密码" value="" class="layui-input">
                        <tip>填写自己账号的旧的密码。</tip>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label required">新的密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="new_password" lay-verify="required" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">再次输入密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="again_password" lay-verify="required" lay-reqtext="请再次输入密码" placeholder="再次输入密码" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'miniPage'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            miniPage = layui.miniPage;


        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data.field);
            if (data.field.again_password !=data.field.new_password) {
                layer.msg('两次输入密码不一致');
                return false;
            }
            $.ajax({
                type: 'POST',
                url: "tbAdmin/updatePsw",
                data: {
                    'old_password':data.field.old_password,
                    'new_password':data.field.new_password
                },
                dataType: 'json',
                async: false,
                cache: false,
                success:function(res){
                    if (res.message == "修改成功"){
                        layer.msg('修改成功');
                        window.location="login";
                    }else{
                        layer.msg(res.message);
                    }
                }
            });
            return false;
        });

    });
</script>