<div class="layuimini-main" xmlns:th="http://www.thymeleaf.org">
    <form id="detail-form" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label">公司名称</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="businessName" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司法人代表</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="businessUsername" value="" class="layui-input">
                </div>
            </div>
             <div class="layui-form-item">
                <label class="layui-form-label">公司发展行业</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="businessTrade" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司地址</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="address" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司官方邮箱</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="email" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司在招岗位</label><br/><br/>
                <ul class="jobList">
                </ul>
            </div>
    </form>
</div>
