<div class="layuimini-main" xmlns:th="http://www.thymeleaf.org">
    <form id="detail-form" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label">岗位id</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobid" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">岗位名称</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobname" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">岗位所属公司</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="businessname" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">薪资水平</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobsalary" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">招聘人数</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobreqnum" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobcontact" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作时间</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobworktime" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">岗位要求</label>
                <div class="layui-input-block">
                    <textarea name="jobtechrequest" readonly="readonly" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">岗位职责</label>
                <div class="layui-input-block">
                    <textarea name="jobduty" readonly="readonly" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作地点</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobaddress" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布时间</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="jobpostTime" value="" class="layui-input">
                </div>
            </div>
    </form>
</div>
